<div>
        <header>
            <!-- <h1>Quizes</h1> -->
            <div class="flex-container">
                <div class="left">Backward</div>
                <div class="right">Forward</div>
            </div>
        </header>
    
        <section>
            <div class="question">
                <h1>What's up ?</h1>
            </div>
            <article>
                <h2>Quiz A1</h2>
                <p>Can choose from a variety of quiz</p>
            </article>
    
            <article>
                    <h2>Quiz A1</h2>
                    <p>Can choose from a variety of quiz</p>
            </article>

            <article>
                <h2>Quiz A1</h2>
                <p>Can choose from a variety of quiz</p>
            </article>
            
            <article>
                <h2>Quiz A1</h2>
                <p>Can choose from a variety of quiz</p>
            </article>
        </section>
    </div>
    