.flex-container {
    display: flex;
    justify-content: space-between;
    
}

.flex-container>div {
    background-color: white;
    color: black;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 2em;
}
.flex-container .left {
    /* float: left; */
    /* justify-content: flex-start; */
}
.flex-container .right {
    /* float: right; */
    /* justify-content: flex-end; */
}
div {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: transparent;
    height: 100px;
}

.question {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin:  10px;
    background: aqua;

    flex: auto;
    flex-flow: col wrap;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}